/* Style about us section */

.section-about .about-us h5 {
    color: #343a40 !important;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
}

.section-about .about-us h5::after {
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: #ffd7cb;
    position: absolute;
    left: 0;
    bottom: -1rem;
}

.section-about .about-us p {
    color: #6c757d !important;
    font-size: 1.5rem;
    font-weight: 300;
}