/* Style about us section */

.section-about .about-us h2 {
    font-family: 'Kaushan Script', cursive;
    color: #E83458 !important;
    font-size: 4rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 2rem;
}

.section-about .about-us h2::after {
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: #E83458;
    position: absolute;
    left: 0;
    bottom: -1rem;
}

.section-about .about-us p {
    color: #6c757d !important;
    font-size: 1.5rem;
    font-weight: 300;
}