/* Style about us section */
#section-about{
    margin: 3rem 0;
}
#section-about h2 {
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #e83458 !important;
}
#section-about p {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: #2a2a2e !important;
}
#section-about .about-us{
    display: flex;
    align-items: center;
}
#section-about .image{
    order: 2;
    margin-top: 3rem;
    filter: drop-shadow(0.5rem 0.5rem 1rem #2a2a2e);
}
#section-about .text{
    order: 1;
    text-align: justify;
}
#section-about h2{
    margin-bottom: 1rem;
}
@media  screen and (min-width: 992px) {
    #section-about{
        margin: 10rem 0;
    }
    #section-about .image{
        order: 1;
        margin-top: 0;
    }
    #section-about .text{
        order: 2;
        align-content: center;
    }
    #section-about .para{
        max-width: 70%;
        margin: auto;
    }
}