/* Style contact section */

.section-contact .section-heading {
    text-align: center;
}

.section-contact .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.section-contact .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.section-contact .section-heading h2 {
    font-family: 'Kaushan Script', cursive;
    color: #E83458 !important;
    font-size: 4rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 2rem;
}

.section-contact .section-heading h2::after {
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: #E83458;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-contact .section-heading p {
    color: #6c757d !important;
    font-size: 1.75rem;
    font-weight: 300;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.section-contact .contact-us h3 {
    font-family: 'Kaushan Script', cursive;
    color: #E83458 !important;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 2rem;
}

.section-contact .contact-us h3::after {
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: #E83458;
    position: absolute;
    bottom: -1rem;
    left: 0;
}

.section-contact .contact-us a {
    color: #6c757d !important;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
}

.section-contact .contact-form input[type=text],
.section-contact .contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #6c757d;
    box-sizing: border-box;
    margin: 1rem 0;
    resize: vertical;
    font-size: 1.5rem;
}

.section-contact .contact-form input[type=submit] {
    background-color: #E83458;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.section-contact .contact-form input[type=submit]:hover {
    background-color: #E83458;
}

.section-contact .fa {
    font-size: 1.75rem;
    color: #E83458;
}