/* Style footer section */

#section-footer{
    margin: 3rem 0;
}
#section-footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#section-footer a{
    text-decoration: none;
}
#section-footer h5{
    font-family: Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #2a2a2e !important;
}
#section-footer h5:hover{
    color: #ef5490 !important;
}
#section-footer address{
    font-family: Montserrat;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #2a2a2e !important;
}
@media screen and (min-width: 992px) {
    #section-footer address{
        text-align: right;
    }
    #section-footer ul, #section-footer address{
        max-width: 60rem;
        margin: auto;
    }
}