/* Style home section */

#section-header img {
    width: 100%;
    height: auto;
}

#section-header h1 {
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 4rem;
    color: #E83458 !important;
    position: relative;
    margin-bottom: 1rem;
}

#section-header p {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 2.4rem;
    color: #2a2a2e !important;
}

#section-header .btn-carousel {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #f8f8f8;

    background-color: #E83458;
    padding: 1.8rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
}

#section-header .btn-carousel:hover {
    opacity: 1;
}

#section-header li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0rem 0.5rem;
    text-indent: -100rem;
    cursor: pointer;
    border: 0.1rem solid #2a2a2e;
    background-color: transparent;
    background-clip: padding-box;
    opacity: 0.5;
    transition: opacity .6s ease;
}
#section-header li.active, #section-header li:hover {
    background-color: #E83458;
    border: 0.2rem solid #E83458;
}
@media screen and (min-width: 600px){
    #section-header .carousel-caption {
       text-align: left;
    }
}