/* Style home section */

.section-home picture img {
    width: 100%;
    height: auto;
}

.section-home .carousel-caption h1 {
    font-family: 'Kaushan Script', cursive;
    color: #E83458 !important;
    font-size: 5rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
}

.section-home .carousel-caption h1::after {
    content: "";
    width: 10rem;
    height: 0.5rem;
    background-color: #E83458;
    display: block;
    margin: 0.5rem auto;
}

.section-home .carousel-caption p {
    color: #000000 !important;
    font-size: 2rem;
    font-weight: 300;
}

.section-home .carousel-caption .btn-carousel {
    background-color: #E83458;
    border: none;
    color: #ffffff;
    padding: 1.2rem;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    opacity: 0.75;
}

.section-home .carousel-caption .btn-carousel:hover {
    opacity: 1;
}

.section-home .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0rem 0.5rem;
    text-indent: -100rem;
    cursor: pointer;
    border: 0.1rem solid #6c757d;
    background-color: transparent;
    background-clip: padding-box;
    opacity: 0.5;
    transition: opacity .6s ease;
}

.section-home .carousel-indicators li.active,
.section-home .carousel-indicators li:hover {
    background-color: #E83458;
    border: 0.2rem solid #E83458;
}