/* Style navbar section */
#section-navbar{
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.6rem;
}
#section-navbar .navbar-toggler {
    border-color: #ef5490;
    font-size: 2.4rem; 
}
#section-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(239, 84, 144, 1)' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#section-navbar .nav-link{
    color: #2a2a2e;
    padding: 3rem 2rem !important;
}
#section-navbar .nav-link.new {
    position: relative;
}

#section-navbar .nav-link.new::after {
    color: #ffffff;
    background-color: #ef5490;
    border-radius: 0 0 50% 50%;
    content: "new";
    position: absolute;
    padding: 0 0.5rem;
    right: 2rem;
    top: 0;
}

#section-navbar .nav-link:hover{
    color: #ef5490;
}
@media screen and (max-width: 992px) {
    #section-navbar .new {
        margin-top: 2rem;
    }
    #section-navbar .nav-link{
        border-top: 0.1rem solid #f8f8f8;
    }
    #section-navbar .nav-link{
        padding: 2rem !important;
    }
}
