/* Style services section */

#section-services {
    margin: 3rem 0;
}
#section-services .category, #section-services .product{
    margin: 1rem 0;
}
#section-services h2 {
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #e83458 !important;
}
#section-services p {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: #2a2a2e !important;
}
#section-services h3 {
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #e83458;
}
#section-services h4{
    font-family: Montserrat;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 1.6rem;
}
#section-services .desc{
    font-family: Montserrat;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.4rem;
}
@media screen and (min-width: 992px) {
    #section-services .category{
        max-width: 60rem;
        margin: 0 auto;
    }
    
}
