
@import url("general.css");
@import url("fixed.css");
@import url("navbar.css");
@import url("home.css");
@import url("about.css");
@import url("hours.css");
@import url("services.css");
@import url("gift.css");
@import url("contact.css");
@import url("footer.css");

@media screen and (max-width: 575.98px) {
    /* Style navbar section */
    /* Style home section */
    .section-home .carousel-caption {
        right: 5%;
        left: 5%;
    }
    /* Style about us section */
    /* Style hours section */
    /* Style services section */
    /* Style gifts section */
    /* Style contact section */
    /* Style footer section */
}

@media screen and (min-width: 576px) {
    /* Style navbar section */
    /* Style home section */
    .section-home .carousel-caption {
        right: 55%;
        left: 5%;
        top: 35%;
        transform: translate(0, -50%);
    }
    /* Style about us section */
    /* Style hours section */
    /* Style services section */
    /* Style gifts section */
    /* Style contact section */
    /* Style footer section */
}

@media screen and (min-width: 768px) {
    /* Style navbar section */
    /* Style home section */
    /* Style about us section */
    /* Style hours section */
    /* Style services section */
    /* Style gifts section */
    /* Style contact section */
    /* Style footer section */
}

@media screen and (min-width: 992px) {
    /* Style navbar section */
    /* Style home section */
    .section-home .carousel-caption {
        right: 55%;
        left: 5%;
        top: 50%;
        transform: translate(0, -50%);
    }
    /* Style about us section */
    /* Style hours section */
    /* Style services section */
    /* Style gifts section */
    /* Style contact section */
    /* Style footer section */
}

@media screen and (min-width: 1200px) {
    /* Style navbar section */
    /* Style home section */
    /* Style about us section */
    /* Style hours section */
    /* Style services section */
    /* Style gifts section */
    /* Style contact section */
    /* Style footer section */
}